input[type="date"] {
    padding: 6px;
}

#message {
    font-size: large;
    /* text-align: center; */
    width: fit-content;
}

#delete-button {
    color: red;
    border-color: rgb(255, 120, 120);
}

#delete-button:hover {
    color: rgb(255, 60, 60);
    border-color: rgb(255, 60, 60);
}

.flash-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}

.navbar {
    /* text-align: right; */
    background-color: #1EAEDB;
    display: flex;
    justify-content: flex-end;
    padding: 0px 5px;
}

.navbar a {
    color: white;
    /* 这是链接的颜色 */
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px;
    min-width: 100px;
    text-align: center;
}

.navbar a:hover {
    background-color: #0FA0CE;
}

.flash-message {
    text-shadow: -1px -1px 1px white;
    font-size: large;
    text-align: center;
}

tr.list:hover {
    background-color: whitesmoke;
}

.delete {
    color: rgb(255, 70, 70);
}

.delete:hover {
    color: red;
}

.navbar a.reload {
    margin-right: auto;
}

td {
    max-width: 300px;
    overflow: hidden;
}