body {
    height: 100vh;
}

.flash-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
}

.flash-message {
    text-shadow: -1px -1px 1px white;
    font-size: large;
    text-align: center;
}

.nav-item:hover {
    background-color: white;
}

.nav-item {
    padding: 0.25em 0.5em;
}

td {
    max-width: 300px;
    text-align: center;
}

th {
    text-align: center;
}

.delete {
    color: rgb(255, 70, 70);
}

.delete:hover {
    color: red;
}
